// In development mode changing anything here
// doesn't affect CSS recompilation
// until something in `style.scss` is modified.
body {
  background: $body-background-color;
  margin: 0;
};

article.content {
  margin-top: 1rem;
  margin-left: 1rem;
	margin-right: 1rem;
	text-align: left;
}

.navMenu {
  margin: 0;
  padding: 0;

  ul {
    background-color: $navmenu-background-color;
    display: inline-flex;
    width: 100%;
    margin: 0;
    padding: 0;

    > li {

      font-family: sans-serif;
      font-size: medium;
      font-style: normal;
      margin-right: 1rem;

      > a {
				color: $navmenu-color;
				text-decoration: none;
      }
    };
  };
};
